<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="excel_loader_cs.Properties.Settings.Excel_DBConnectionString"
            connectionString="Data Source=MY-PC\MY_SERVER;Initial Catalog=Excel_DB;Persist Security Info=True;User ID=sa;Password=111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>